<!-- <video src="movietest.mp4"> </video> -->
<div class="index-video-container">
  <%= video_tag "movietest.mp4", :controls => false, :autoplay => true, :loop => true, :class => "bannervideo" %>
  <div class="index-video-content">
    <h3> Meet and Mingle <br> with sexy "singles" </h3>

  </div>
</div>
<div id="title">
    <% if logged_in? %>
        <div id="new-question"><%= button_to "Ask New Question", new_question_path, :method => "get", :class => "btn"  %></div><br>
    <% end %>
    </div>

<div id="container">
<% @questions.each do |question| %>
<!-- The votes and answers sum queries here is costly because they hits the database. We would need to add an attribute to questions that has it's vote and answers count that auto-updates -->
  <div id="each-question">
    <div id="q-title"><%= link_to question.title, question %></div>
    <span class="q-answers" id="Answers<%= question.id %>">Answers: <%= question.answers.count %> </span>
    <span class="q-votes" id="Votes<%= question.id %>">| Votes: <%= question.votes.sum(:value) %> </span>
    <div id="tags">
    <% question.tags.each do |tag| %>
    <span id="each-tag"><%= button_to tag.name, tag_path(tag), :method => "get", :class => "tags-btn"  %></span>
    <% end %>
    </div>
  </div>
<% end %>
</div>
