<div class="question-title">
 <%= @question.title %>
</div>
<div class="question-content">
  <span class="question-vote">

    <%= render partial: 'votes/question_vote_logic', :layout => false, locals: {question: @question} %>
   </span>
  <div class="question-body"><span class="author"><%= @question.author.username %></span> <%= @question.content %></div>


  Body: <%= @question.content %>

</div>

  <% @question.comments.each do |comment| %>
    <%= render partial: 'comments/question_comment', :layout => false, locals: {comment: comment} %>
  <% end %>


<div class="answer-title">Answers:</div>

<% @question.answers.each do |answer| %>
  <% if @question.author.id == current_user.id && @question.answers.where(:best => true).count == 0 %>
   <%= render template: 'answers/best', :layout => false, locals: {answer: answer} %>
  <% end %>
  <% if answer.best == true %>
    <%= "Best Answer" %>
  <% end %>
  <%= render partial: 'answers/answer', :layout => false, locals: {answer: answer} %>
  <% answer.comments.each do |comment| %>
    <%= render partial: 'comments/answer_comment', :layout => false, locals: {comment: comment} %>
  <% end %>
<% end %>

<% if logged_in? %>
  <div class="new-answer">
    <h3>Your Answer</h3>
    <%= render template: 'answers/new', :layout => false, locals: {question: @question, :@answer => Answer.new } %>
  </div>
<% end %>
