<% if !logged_in? %>
  <div class="login-prompt"> <%= link_to "Login to Vote or Comment", login_path %> </div>
<% end %>
<div class="question">
  <div class="question-title">
   <%= @question.title %>
  </div>
  <div class="question-content">
    <span class="question-vote">
      <%= render partial: 'votes/question_vote_logic', :layout => false, locals: {question: @question} %>
    </span>
     <%= render partial: 'question_display', :layout => false, locals: {question: @question} %>
     <div class="clear"> </div>
  </div>

    <% @question.comments.each do |comment| %>
      <%= render partial: 'comments/question_comment', :layout => false, locals: {comment: comment} %>
    <% end %>
</div>
<div class="answers">
  <div class="answer-title">Answers</div>
  <% if logged_in? %>
    <div class="new-answer">
      <%= link_to "Add Answer", new_answer_path(question_id: @question.id), class: "new-answer-link" %>
    </div>
  <% end %>

  <div class="answer-section">
    <ul id="tabs">
      <li><%= link_to "Most Recent", "/questions/#{@question.id}/answers?sort=recent", class: "answer-sort-link" %></li>
      <li><%= link_to "Highest Voted", "/questions/#{@question.id}/answers?sort=vote", class: "answer-sort-link" %></li>
      <li><%= link_to "Trending", "/questions/#{@question.id}/answers?sort=trending", class: "answer-sort-link" %></li>
    </ul>
    <hr>
    <div class="answer-display">
      <%= render partial: 'answers/show', :layout => false, locals: {question: @question, answers: @question.answers} %>
    </div>
  </div>
</div>
