<div class="question-answers">
  <%= render partial: 'votes/answer_vote_logic', :layout => false, locals: {answer: answer} %>
  <div class="answerbody"><%= answer.content %>
    <div class="author-info"><%= answer.author.username %> <%= format_time(answer) %> ago </div>
  </div>

  <% if logged_in? %>
  <div class="add-comment"><%= link_to "Add Comment", new_comment_path(comment: {commentable_id: answer.id, commentable_type: "Answer"}), class: "new-comment" %>
    <div class="new-comment-form"> </div>
  </div>
   <% if answer.authored_by?(current_user) %>
    <div id="edit-delete"><%= link_to image_tag("glyphicons-31-pencil.png", :border => 0), edit_answer_path(answer), method: :get %> | <%= link_to image_tag("glyphicons-193-circle-remove.png", :border => 0), answer_path(answer), method: :delete %></div>
    <% end %>

  <% else %>
    <!-- <%= link_to "Login to Comment", login_path %> -->
  <% end %>
  <div class="clear"></div>
</div>
