<!DOCTYPE html>
<html>
<head>
  <title>SneakOnTheLow</title>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
    <%= link_to image_tag("sneak.png", :border => 0), root_path %>
  <div class="header-right">
    <% if logged_in? %>
      <%= current_user.username %> |
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path%> |
      <%= link_to "Sign Up", register_path %>
    <% end %>
  </div>
</div>
<%= yield %>

</body>
</html>
